@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #079ac7;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: 'Blinker', sans-serif;
}

.news {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.newsfeed {
  width: 50%;
}

.article {
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.article:hover {
  background-color: rgb(241, 239, 239);
}

.App-link {
  color: #61dafb;
}

.timestamp {
  color: gray;
  font-size: 0.75rem;
}

.circular-progress {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .newsfeed {
    width: 100%;
  }
  .App-header {
    font-size: calc(5px + 3vmin);
  }
}
